<div>
  <h2 class ="form-title">Sign up</h2>
</div>

<div class="container mt-4 container-sign">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "username", style: "background-color: #4C4C4C; opacity: 0.7; border: none; outline: none; color: #C8C8C8;" } %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", style: "background-color: #4C4C4C; opacity: 0.7; border: none; outline: none; color: #C8C8C8;" } %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", style: "background-color: #4C4C4C; opacity: 0.7; border: none; outline: none; color: #C8C8C8;"} %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", style: "background-color: #4C4C4C; opacity: 0.7; border: none; outline: none; color: #C8C8C8;" } %>
    </div>
    <%= f.check_box :professional, {:class => "myclass", :style => "mystyle"}, "checked-value", "unchecked-value" %> <%= f.label :professional %>
    <div class="form-actions text-central">
      <%= f.button :submit, "Sign up", class: "btn btn-edit-user" %>
    </div>
  <% end %>
  <div class="hr"></div>
  <%= render "devise/shared/links" %>
  <br>
</div>
