<!-- welcome_pro.html.erb -->
<style>
  body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: #636363;
  }
</style>

<div class= "welcome-container">
  <h1> Hi <%= @user.username %> and welcome to <strong style= "font-family: 'Exo 2', sans-serif; color: #FA9800; font-size: 34px;">Coolfit</strong></h1>

<%= link_to "Look at activities around you!", activities_url, style: "text-decoration: none; font-size: 25px;" %>
<ul style="list-style: none; padding: 0; margin: 0;">
    <hr size="1" width="60%" align="left" color="#C8C8C8">

  <li><strong>Current Physical Activity: </strong><%= @user.physical_activity %></li>
  <br>
  <li><strong>Desription: </strong><%= @user.description %></li>
</ul>
    <hr size="1" width="60%" align="left" color="#C8C8C8">

<%= link_to "Edit your profile", profile_edit_url, style: "text-decoration: none; font-size: 18px;" %>
<br>
<br>
<%= link_to "Create an activity", new_activity_url, style: "text-decoration: none; font-size: 18px;" %>
<br>
<br>

<%= cl_image_tag ('Coolfit/old-sports-mosaic_hwhc6n.png'), style: "width: 60%; "%>


</div>
