<%= simple_form_for @user, url: profile_update_path, html: { method: :patch } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :username, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :first_name, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :last_name, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :email, class: "form-control" %>
  </div>

  <div class="form-inputs">
      <p style="margin: 0">Upload a new profile picture: </p>
      <%= f.input :avatar, label: "Upload", input_html: {style: "display:none;"}, label_html: {class: "btn btn-edit-user", style: "width: 100px;"} %>
      <%= f.input :avatar_cache, as: :hidden %>
  </div>

  <div class="form-inputs">
    <%= f.input :age, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :physical_activity, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :description, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-edit-user", style: "width: 130px; float: right;" %>
  </div>
<% end %>

