<div class="d-flex justify-content-between">
  <h1>Welcome <span class="banner-logo"><%= current_user.username %></span>!</h1>
  <img class="avatar-large mr-4 mt-2" alt="avatar-large" src="<%= current_user.avatar %>" />
</div>

<h5>My fitness level: <%= current_user.physical_activity %></h5>
<h5>My description: <%= current_user.description %></h5>

<br>

<div>
  <h3>Upcoming events</h3>

  <div class="future-bookings">
    <% @future_bookings.each do |activity| %>
      <%= render 'bookings/future_bookings', activity: activity %>
    <% end %>
  </div>
</div>

<br>

<div>
  <h3>My <%= "♥" %> events</h3>

  <div class="interests">
    <% @interests.each do |activity| %>
      <%= render 'interests/interests', activity: activity %>
    <% end %>
  </div>
</div>

<br>

<div>
  <h3>Past events</h3>

   <div class="past-bookings">
    <% @past_bookings.each do |activity| %>
      <%= render 'bookings/past_bookings', activity: activity%>
      <%= simple_form_for (activity do |f|, html: {class: "booking_form"}, :url => activity_booking_path, method: :patch) %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", id: "booking_rating" %>
     <% end %>
    <% end %>
      <%#= simple_form_for (@activity, html: {class: "booking_form"}, :url => activity_booking_path, method: :patch) %>
      <%#= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", id: "booking_rating" %>
  </div>
</div>
