<% if !@recommendations.nil? %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <p>You can find our recommendations for you in your <i class="fa fa-heart"></i> events</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
<div class="container mt-6 show-container">

<div class="d-flex justify-content-between">
  <h1>Welcome <span class="banner-logo"><%= current_user.username %></span>!</h1>
  <%= render 'shared/avatar_large' %>
</div>
<br>

<% unless current_user.physical_activity.nil? %>
  <h5><strong>My fitness level: </strong><%= current_user.physical_activity %></h5>
<% end %>
<% unless current_user.physical_activity.nil? %>
  <h5><strong>My description: </strong><%= current_user.description %></h5>
<% end %>

  <hr size="6" width="100%" align="left" color="#C8C8C8">

  <div>
    <h3>My upcoming events<a data-toggle="collapse" href="#future_bookings" role="button" aria-expanded="false" aria-controls="future_bookings" style="float:right;"><i class="fas fa-plus-circle dashboard-plus"></i>
    </a></h3>
    <div class="collapse" id="future_bookings">
      <div class="future-bookings">
        <% if @future_bookings %>
          <% @future_bookings.each do |booking| %>
            <%= render 'bookings/future_bookings', activity: booking.activity, booking: booking %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<br>
<hr size="6" width="100%" align="left" color="#C8C8C8">
<br>

  <div>
    <h3>My <i class="fa fa-heart"></i> events<a data-toggle="collapse" href="#interests" role="button" aria-expanded="false" aria-controls="interests" style="float:right;"><i class="fas fa-plus-circle dashboard-plus"></i>
    </a></h3>
    <div class="collapse show" id="interests">
      <div class="interests" id="interests">
        <% if @recommendations.nil? %>
          <% if @interests %>
            <% @interests.each do |activity| %>
              <%= render 'interests/interests', activity: activity %>
            <% end %>
          <% end %>
        <% else %>
        <% if @recommendations %>
          <%  @recommendations.each do |recommended_activity| %>
          <%= render 'interests/interests', activity: recommended_activity %>
          <% end %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

<br>
<hr size="6" width="100%" align="left" color="#C8C8C8">
<br>

  <div>
    <h3>Past events<a data-toggle="collapse" href="#past-bookings" role="button" aria-expanded="false" aria-controls="past-bookings" style="float:right;"><i class="fas fa-plus-circle dashboard-plus"></i>
    </a></h3>
    <div class="collapse" id="past-bookings">
      <div class="past-bookings" id="past_bookings">
        <% if @past_bookings %>
          <% @past_bookings.each do |booking| %>
            <%= render 'bookings/past_bookings', booking: booking %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<br>
<hr size="6" width="100%" align="left" color="#C8C8C8">

</div>

