<div class="d-flex justify-content-between">
  <h1>See below the events you are organizing <span class="banner-logo"><%= current_user.username %></span>!</h1>
  <%= cl_image_tag(current_user.avatar, class:"avatar-large mr-4 mt-2") %>
</div>

<br>

<h5>Description: <%= current_user.description %></h5>

<h5>Specialty:
  <% if @specialty.empty? %>
    <em style="filter: brightness(150%);">no specialty yet</em>
  <% else %>
    <%= @specialty.group_by(&:to_s).values.max_by(&:size).try(:first).capitalize %> exercises
  <% end %>
</h5>

<h5>Average rating:
  <% if current_user.average_owner_rating.zero? %>
    <em style="filter: brightness(150%);">no rating yet</em>
  <% else %>
  <% current_user.average_owner_rating.times do %>
    <i class="fas fa-star"></i>
  <% end %>
  <% end %>
</h5>

<br>

<h5>Create your own events and bring people together around your favorite activities! <%= link_to "Create", new_activity_path, class:"btn admin-btn", style:"font-size: 20px"%></h5>

<br>

<% if !@future_activities.empty? %>
  <div>
    <h3>My upcoming events</h3>

    <div class="future-activities">
      <% @future_activities.each do |activity| %>
        <%= render 'activities/future_activities', activity: activity %>
      <% end %>
    </div>
  </div>
<% end %>

<br>

<% if !@past_activities.empty? %>
  <div>
    <h3>My past events</h3>

    <div class="future-activities">
      <% @past_activities.each do |activity| %>
        <%= render 'activities/past_activities', activity: activity %>
      <% end %>
    </div>
  </div>
<% end %>

