<h1>Top categories</h1>
<br>

<h3> <%= @top_category1.description %></h3>

<div class="cards" id="landing">
  <% @top_category1.activities.each do |activity| %>

      <div class="card-landing">
        <% if activity.photo_db.nil? %>
          <%= cl_image_tag activity.photo_user, crop: :fill, gravity: :face, class: 'card-landing-img' %>
        <% else %>
          <%= image_tag activity.photo_db, crop: :fill, gravity: :face, class: 'card-landing-img' %>
        <% end %>
        <div class="card-landing-infos">
          <p><%= activity.name %></p>
          <p><% activity.healths.each do |health| %>
            <%= health.description %>
            <% end  %>
          </p>
          <p>
            <% activity.fitness_level.times.each do |level|%>
              <i class="fas fa-running"></i>
            <% end %>
          </p>
          <p><% activity.owner.average_owner_rating.times.each do |rate| %>
             <i class="fas fa-star"></i>
            <% end %>
          </p>
          <p><%= image_tag activity.owner.avatar, class: 'avatar' %></p>
          <br>

        </div>
      </div>
  <% end %>
</div>

<br>

<h3> <%= @top_category2.description %></h3>

<div class="cards" id="landing">
  <% @top_category2.activities.each do |activity| %>

      <div class="card-landing">
        <% if activity.photo_db.nil? %>
          <%= cl_image_tag activity.photo_user, crop: :fill, gravity: :face, class: 'card-landing-img' %>
        <% else %>
          <%= image_tag activity.photo_db, crop: :fill, gravity: :face, class: 'card-landing-img' %>
        <% end %>
        <div class="card-landing-infos">
          <p><%= activity.name %></p>
          <p>
            <% activity.fitness_level.times.each do |level|%>
              <i class="fas fa-running"></i>
            <% end %>
          </p>
          <p><% activity.owner.average_owner_rating.times.each do |rate| %>
             <i class="fas fa-star"></i>
            <% end %>
          </p>
          <p><%= image_tag activity.owner.avatar, class: 'avatar' %></p>
          <br>
        </div>
      </div>
  <% end %>
</div>

<br>

<h3> <%= @top_category3.description %></h3>

<div class="cards" id="landing">
  <% @top_category3.activities.each do |activity| %>

      <div class="card-landing">
        <% if activity.photo_db.nil? %>
          <%= cl_image_tag activity.photo_user, crop: :fill, gravity: :face, class: 'card-landing-img' %>
        <% else %>
          <%= image_tag activity.photo_db, crop: :fill, gravity: :face, class: 'card-landing-img' %>
        <% end %>
        <div class="card-landing-infos">
          <p><%= activity.name %></p>

          <p>
            <% activity.fitness_level.times.each do |level|%>
              <i class="fas fa-running"></i>
            <% end %>
          </p>

          <p><% activity.owner.average_owner_rating.times.each do |rate| %>
              <i class="fas fa-star"></i>
            <% end %>
          </p>
          <p><%= image_tag activity.owner.avatar, class: 'avatar' %></p>

        </div>
      </div>
  <% end %>
</div>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Browse more activities", activities_path, class:"btn btn-search"%>
</div>



