<br>
<div class="container show-container">
  <h5 class="mb-2"><em>"Whether working or not, older adults, in particular, can
  benefit from regular physical activity to maintain physical, mental and social health and enable
  healthy ageing." </em></h5>
  <h5 style="float:right;">World Health Organization report, 2012</h5>
</div>

<br>
<br>
<br>
<hr size="6" width="100%" align="left" color="#C8C8C8">
<br>
<h3 class="text-center">Need inspiration? Have a look at our <span class="home-title">hot categories</span>!</h3>
<br>
<br>

<div class="d-flex justify-content-start" style= "margin-bottom:10px">
 <%= image_tag @top_category1.logo, class: 'category-logo'%>
 <h3><%= @top_category1.description %></h3>
</div>

<div class="cards" id="landing">
  <% @top_category1.activities.each do |activity| %>
    <% unless activity.time.to_date.past? %>
      <%= link_to activity do %>
        <div class="card-landing zoom">
          <% if activity.photo_db.nil? %>
            <%= cl_image_tag activity.photo_user, crop: :fill, gravity: :face, class: 'card-landing-img' %>
          <% else %>
            <%= image_tag activity.photo_db, crop: :fill, gravity: :face, class: 'card-landing-img' %>
          <% end %>
          <div class="card-landing-infos">
            <div class="card-landing-name">
              <p><strong><%= activity.name %></strong></p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                <% activity.owner.average_owner_rating.times.each do |rate| %>
                  <i class="fas fa-star" style="color:#FA9800;"></i>
                  <% end %>
                  <% activity.owner.star_to_5.times.each do |rate| %>
                  <i class="fas fa-star" style="color:#C8C8C8;"></i>
                <% end %>
              </div>
              <div class="d-flex justify-content-end">
                <% activity.fitness_level.times.each do |level|%>
                  <i class="fas fa-running"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<br>
<br>
<br>

<div class="d-flex justify-content-start" style= "margin-bottom:10px">
<%= image_tag @top_category2.logo, class: 'category-logo'%>
<h3> <%= @top_category2.description %></h3>
</div>

<div class="cards" id="landing">
  <% @top_category2.activities.each do |activity| %>
    <% unless activity.time.to_date.past? %>
      <%= link_to activity do %>
        <div class="card-landing zoom">
          <% if activity.photo_db.nil? %>
            <%= cl_image_tag activity.photo_user, crop: :fill, gravity: :face, class: 'card-landing-img' %>
          <% else %>
            <%= image_tag activity.photo_db, crop: :fill, gravity: :face, class: 'card-landing-img' %>
          <% end %>
        <div class="card-landing-infos">
            <div class="card-landing-name">
              <p><%= activity.name %></p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                <% activity.owner.average_owner_rating.times.each do |rate| %>
                  <i class="fas fa-star" style="color:#FA9800;"></i>
                <% end %>
                <% activity.owner.star_to_5.times.each do |rate| %>
                  <i class="fas fa-star" style="color:#C8C8C8;"></i>
                <% end %>
              </div>
              <div class="d-flex justify-content-end">
                <% activity.fitness_level.times.each do |level|%>
                  <i class="fas fa-running"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<br>
<br>
<br>

<div class="d-flex justify-content-start" style= "margin-bottom:10px">
<%= image_tag @top_category3.logo, class: 'category-logo'%>
<h3> <%= @top_category3.description %></h3>
</div>

<div class="cards" id="landing">
  <% @top_category3.activities.each do |activity| %>
    <% unless activity.time.to_date.past? %>
      <%= link_to activity do %>
        <div class="card-landing zoom">
          <% if activity.photo_db.nil? %>
            <%= cl_image_tag activity.photo_user, crop: :fill, gravity: :face, class: 'card-landing-img' %>
          <% else %>
            <%= image_tag activity.photo_db, crop: :fill, gravity: :face, class: 'card-landing-img' %>
          <% end %>
          <div class="card-landing-infos">
            <div class="card-landing-name">
              <p><%= activity.name %></p>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-start">
                <% activity.owner.average_owner_rating.times.each do |rate| %>
                  <i class="fas fa-star" style="color:#FA9800;"></i>
                <% end %>
                <% activity.owner.star_to_5.times.each do |rate| %>
                  <i class="fas fa-star" style="color:#C8C8C8;"></i>
                <% end %>
              </div>
              <div class="d-flex justify-content-end">
                <% activity.fitness_level.times.each do |level|%>
                  <i class="fas fa-running"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<br>
<br>

<div class="d-flex justify-content-center" style="padding-bottom: 5vh;">
  <%= link_to "More activities", activities_path, class: "btn btn-search"%>
</div>



