<br>

<div class="d-flex align-items-center justify-content-around">

  <table class="table">
    <tr>
      <th>My username:</th>
      <td><span class="navbar-logo"><%= current_user.username %></span> </td>
    </tr>
    <tr>
      <th>My name:</th>
      <td><%= current_user.first_name + " " + current_user.last_name%></td>
    </tr>
    <tr>
      <th>My email:</th>
      <td><%= current_user.email %></td>
    </tr>
    <tr>
      <th>My profile picture: </th>
      <td><%= cl_image_tag(current_user.avatar, class:"avatar-large mr-4 mt-2") %></td>
    </tr>
    <tr>
      <th>My age: </th>
      <td><%= current_user.age %></td>
    </tr>
    <tr>
      <th>My physical activity: </th>
      <td><%= current_user.physical_activity %></td>
    </tr>
    <tr>
      <th>My description: </th>
      <td><%= current_user.description %></td>
    </tr>
  </table>

  <div class="edit-btns">
    <%= link_to "Update", profile_edit_path, class:"btn admin-btn", style:"font-size: 20px; height: 45px; width: 120px; margin: 0 auto;" %>
    <p style="margin: 0;">or</p>
    <%= link_to "Change your password", edit_user_registration_path, class:"password-btn" %>
  </div>

</div>



