<div class="container mt-4 show-container">

  <h3 class="profile-title">My profile</h3>

  <br>

  <div>
    <p><%= render 'shared/avatar_large' %><%= current_user.username %></p>
    <p><%= current_user.name %></p>
    <p><%= current_user.email %><p>
    <p><%= current_user.age %> years</p>
    <p><u><strong>My physical activity</strong></u>: <%= current_user.physical_activity.capitalize %></p>
    <p><u><strong>Description</strong></u>: <%= current_user.description %><p>
  </div>

  <div class="edit-btns">
    <p><%= link_to "Update", profile_edit_path, class:"btn btn-search" %>or <%= link_to "Change your password", edit_user_registration_path, class:"password-btn" %></p>
  </div>
</div>


