<%= simple_form_for(activity) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :location, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :time, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :duration, class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :max_capacity, label: "Maximum number of people", class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.input :fitness_level, collection: 1..3, label: "Fitness level (from 1-low, to 3-vigorous)", prompt: "Choose a fitness level", class: "form-control" %>
  </div>

  <div class="form-inputs">
    <%= f.association :category, label_method: :description, prompt: "Choose a category"%>
  </div>
  <br>

  <div class="form-inputs">
    <%= f.label :healths, label: "Expected health benefits (select as many as you want)" %>
    <%= f.association :healths, label_method: :description, as: :check_boxes, label: "" %>
  </div>

  <br>

  <div class="d-flex justify-content-between">
    <p>Upload a photo for your event:</p>
    <div class="form-inputs">
        <%= f.input :photo_user, label: "Upload", input_html: {style: "display:none;"}, label_html: {class: "btn btn-edit-user", style: "width: 100px;"} %>
        <%= f.input :photo_user_cache, as: :hidden %>
    </div>
  </div>

  <div class="form-inputs">
    <%= f.input :description, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Create event", class: "btn btn-edit-user", style: "width: 130px; float: right; border: 1px solid rgba(39, 39, 39, 0.2);"  %>
  </div>
<% end %>
