<p id="notice"><%= notice %></p>

<div class="index-container">

  <div class="cards-index">
    <% @activities.each do |activity| %>

      <%= link_to activity do %>
        <div class="card-index zoom d-flex justify-content-between">
          <div class="card-images">
            <% if activity.photo_db.nil? %>
              <%= cl_image_tag activity.photo_user, class: "card-index-img" %>
            <% else %>
              <%= image_tag activity.photo_db, class: "card-index-img" %>
            <% end %>
          </div>

          <div class="card-index-infos d-flex justify-content-between">
            <div>
              <h3><%= activity.name %></h3>
              <p class="avatar-name"><%= cl_image_tag activity.owner.avatar, class: 'avatar' %>
                <%= activity.owner.username %>
              </p>
              <p class="card-index-benef"><%=activity.healths.map(&:description).join(' / ') %></p>
              <% end %>
            </div>

            <div class="card-index-tags">
              <div>
                <% if activity.owner != current_user %>
                  <% if @user_interests.select{ |interest| interest.activity == activity } == [] %>
                    <%= link_to "♡", activity_interest_path(activity), method: :post,  class: "admin-btn" %>
                  <% else %>
                    <%= link_to "♥", activity_interest_path(activity), method: :delete,  class: "admin-btn" %>
                  <% end %>
                <% end %>
              </div>
              <div class="card-btns-index">
                <%= link_to "Register", activity_booking_path(activity), method: :post, remote: true, class: 'btn admin-btn' %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>
