<p id="notice"><%= notice %></p>

<div class="index-container">

  <div class="cards-index">
    <% @activities.each do |activity| %>

      <%= link_to activity do %>
        <div class="card-index">
          <% if activity.photo_db.nil? %>
            <%= cl_image_tag activity.photo_user, crop: :fill, gravity: :face, class: 'card-index-img' %>
          <% else %>
            <%= image_tag activity.photo_db, crop: :fill, gravity: :face, class: 'card-index-img' %>
          <% end %>
          <div class="card-index-infos">
            <h3><%= activity.name %></h3>
              <% end %>
          </div>
        </div>
      <% end %>

    <% end %>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>
