<p id="notice"><%= notice %></p>

<div class="index-container">

  <div class="cards-index">
    <% @activities.each do |activity| %>
      <% unless activity.time.to_date.past? %>
        <div class="card-index d-flex justify-content-between <%= (activity.max_capacity.nil?) || (activity.bookings.size < activity.max_capacity) ? 'available-capacity' : 'full-capacity'%> ">
          <div class="card-index-img">
            <%= render 'shared/activity_photo', activity: activity %>
          </div>


          <div class="card-index-infos d-flex justify-content-between">
            <div class="card-index-text">
              <%= link_to activity do %>
                <h3><strong><%= activity.name %></strong></h3>
              <% end %>
              <p class="avatar-name"><%= render 'shared/avatar_small', activity: activity %>
                <%= activity.owner.username %></p>
              <p class="card-index-benef"><%=activity.healths.map(&:description).join(' / ') %></p>
            </div>

            <div class="card-index-tags">
              <% if activity.owner != current_user %>
                <% booking = @user_registrations.select{ |booking| booking.activity == activity } %>
                <% if booking == [] %>
                  <div class="interest-index" data-activity-id="<%= activity.id %>" >
                    <% if @user_interests.select{ |interest| interest.activity == activity } == [] %>
                      <%= link_to "♡", activity_interest_path(activity), method: :post, remote: true, class: "interest-btn" %>
                    <% else %>
                      <%= link_to "♥", activity_interest_path(activity), method: :delete, remote: true, class: "interest-btn-selected" %>
                    <% end %>
                  </div>
                  <br>
                  <div class="card-btn-index" data-bookings-id="<%= activity.id %>">
                    <%= link_to "Register", activity_bookings_path(activity), method: :post, remote: true, class: "btn register-btn" %>
                  </div>
                <% else %>
                  <div class="interest-index" data-activity-id="<%= activity.id %>" >
                    <p class="registered">✔ already registered!</p>
                  </div>
                  <br>
                  <div class="card-btn-index" data-bookings-id="<%= activity.id %>">
                    <%= link_to "Unregister", activity_booking_path(activity.id, booking.flatten), method: :delete, remote: true, class: "btn register-btn-selected" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="map-container" style="position: sticky; top: 50px;">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      class="map"
    >
    </div>
  </div>

</div>

