<p id="notice"><%= notice %></p>

<div class="index-container">

  <div class="cards-index">
    <% @activities.each do |activity| %>

      <%= link_to activity do %>
        <div class="card-index">
          <% if activity.photo_db.nil? %>
            <%= cl_image_tag activity.photo_user, class: 'card-index-img' %>
          <% else %>
            <%= image_tag activity.photo_db, class: 'card-index-img' %>
          <% end %>
          <div class="card-index-infos">
            <h3><%= activity.name %></h3>
             <p><% activity.healths.each do |health| %>
            <%= health.description %>
            <% end %>
          </p>
          <% end %>
            <% if activity.owner != current_user %>
              <% if @user_interests.select{ |interest| interest.activity == activity } == [] %>
                <%= link_to "♡", activity_interest_path(activity), method: :post,  class: "admin-btn" %>
              <% else %>
                <%= link_to "♥", activity_interest_path(activity), method: :delete,  class: "admin-btn" %>
              <% end %>
            <% end %>
          </div>
          <p><%= image_tag activity.owner.avatar, class: 'avatar' %></p>
          <div class="card-btns-index">
        <%= link_to "Register", activity_booking_path(activity), method: :post, class: 'btn admin-btn' %>
      </div>
      </div>
          <div>
        </div>
    <% end %>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>
