<p id="notice"><%= notice %></p>

<div class="container mt-6 show-container">
<div id = "capacity">
  <h3>Number of spots available:</h3>
    <% if @activity.max_capacity.nil? %>
      <p>There is no limited number of participants!</p>
    <% elsif @activity.bookings.size < @activity.max_capacity %>
      <p>Hurry up, there are only <%= @activity.max_capacity - @activity.bookings.size %> spots left!</p>
    <% else @activity.max_capacity = @activity.bookings.size %>
      <p>Sorry the class is fully booked <% %></p>
    <% end%>
</div>

<div class="container mt-4 show-container">
  <h3><strong><%= @activity.name %></strong></h3>
  <hr size="6" width="100%" align="left" color="$gray">
  <p>Event organized by <i><%= @activity.owner.username %></i></p>
  <div class="show-tags d-flex justify-content-between">
      <p><i class="far fa-clock" style="margin-right: 1vh;"></i><%= @activity.duration %> Minutes</p>
      <div class="d-flex justify-content-start">
        <% @activity.owner.average_owner_rating.times.each do |rate| %>
          <i class="fas fa-star" style="color:#FA9800;"></i>
        <% end %>
        <% @activity.owner.star_to_5.times.each do |rate| %>
          <i class="fas fa-star" style="color:#C8C8C8;"></i>
        <% end %>
      </div>
      <div class="fitness">
        <% @activity.fitness_level.times.each do |level|%>
          <i class="fas fa-running"></i>
        <% end %>
      </div>
      </div>
      <br>
      <div class="container-infos">
        <p class="darker-span"><strong>General Description</strong></p>
        <p><%= @activity.description %></p>
        <hr size="6" width="100%" align="left" color="$gray">
        <p class="darker-span"><strong>Expected Health Benefits</strong></p>
        <p><% @activity.healths.each do |health| %>
          <ul style="padding: 0px">
            <%= image_tag health.logo, class: "show-logo" %>
          <%= health.description %>
          </ul>
          <% end %>
       </p>
       <hr size="6" width="100%" align="left" color="$gray">
        <p class="darker-span" ><strong>Where is it Happening?</strong></p>
      <div class="flex-container">

          <p><%= @activity.location %></p>
        </div>
            <div  class="container-map" id="map"
            style="height: 160px; width: 100vh;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>

      </div>
      <br>
      <hr size="6" width="100%" align="left" color="$gray">
      <div id="messages">
        <% if @activity.messages.blank? %>
         <p style= "font-size:20px"><strong>Write a message to <%= @activity.name %></strong></p>
        <% else %>
        <%= render 'messages/show'%>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <%= render 'messages/form', activity: @activity, message: @message %>
      <% end %>
      <br>
    <%= link_to 'Edit', edit_activity_path(@activity), style: "color: #636363; text-decoration: none;" %> |
    <%= link_to 'Back', activities_path, style: "color: #636363; text-decoration: none;" %>

    </div>

</div>

