<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CoolFit</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <%= render 'shared/navbar' unless in_authentication_page? %>

    <div class="scroll-container <%= in_authentication_page? ? 'full-height' : '' %>">
      <div class="<%= in_authentication_page? ? 'devise-background' : 'container mt-4 page-wrapper' %>">
        <%= yield %>
      </div>

      <%= render 'shared/footer' %>

      <p class="alert"><%= alert %></p>
    </div>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
  <script src="https://media-library.cloudinary.com/global/all.js"></script>
</html>
